.icon_wrapper {
  padding: 1.1rem 0.5rem;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #ced4da;
}
.icon:hover {
  cursor: pointer;
}
.icon_badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -6px;
  right: -4px;
  width: 1rem;
  height: 1rem;
  background-color: #4650dd;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
}
