@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #555;
}

.text-primary {
  color: #4650dd !important;
}
.data_tabel {
  height: 100vh;
  overflow: hidden;
}
.rounded {
  border-radius: 1rem !important;
}
.card-body {
  background-color: #fff;
}
.card-header {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 2rem 2.6rem;
  letter-spacing: 2px;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  margin-bottom: 1rem;
}
